<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p>Posted by {{blogger}} on {{format_date post_date}}</p>
    <hr>
    <p>{{content}}</p>
    <div class="card-body">
    </div>
  </a>
  <hr>

  <form action="/editpost/{{id}}" method="get" class="form">
    <button class="btn" type="submit">Edit post</button>
  </form>

  <form action="/api/users/deletepost" method="post" class="form">
    <input type="hidden" name='id' value='{{id}}'>
    <button class="btn" type="submit">Delete post</button>
  </form>
</section>
