<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p>Posted by {{blogger}} on {{format_date post_date}}</p>
    <p>{{content}}</p>
    <div class="card-body">
    </div>
  </a>
    <hr>
  <p>(Most recent comment will go here)</p>
  <p>(post-titles.handlebars)</p>

</section>
