<section class="post">
<div class="card-body">
  <h3>Title of post: {{post.title}}</h3>
    <p>Posted by: {{post.blogger}} on {{ format_date post.post_date}}</p>
  <div class="post-details">
    <hr>
    <p>Post:</p>
    <p>{{post.content}}</p>
    <hr>
  </div>
</div>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>
<div class="login-card">
  <h2 class="page-title">Write a new comment</h2>
  <form action="/api/users/newcomment" method="post" class="form signup-form">
    <div class="form-group">
      <textarea id="comment_text" name="comment_text" rows="4" cols="50">
      </textarea>
      <input type="hidden" name='commenter' value='Henrietta'>
      <input type="hidden" name='comment_date' value='{{ format_date post.post_date}}'>
      <input type="hidden" name='post_id' value='{{post.id}}'>

    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
